@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");

.badge-active {
    background-color: #caffcc !important;
    color: #57c45a !important;
    border: 1px solid #57c45a;
}

.badge-completed {
    background-color: #ffdcc3 !important;
    color: #fd6900 !important;
    border: 1px solid #f88f44;
}
